<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <main>
    <h1>Add Subject</h1>
    <h2><a href="/subject">show all data</a></h2>
        <div class="row">
        <form action="/subject/add" method="POST">
                <input type="text" placeholder="Subject Name" name="subject_name">
                <button type="submit">Submit</button>
         </form>               
        </div>
    </main>
</body>
</html>