<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <main>
    <h1>Add Teacher Data</h1>
    <h2><a href="/teacher">show all data</a></h2>
        <div class="row">
        <form action="/addTeacher" method="POST">
                <input type="text" placeholder="first name" name="first_name">
                <input type="text" placeholder="last_name" name="last_name">
                <input type="text" placeholder="email" name="email">
                <button type="submit">Submit</button>
         </form>               
        </div>
    </main>
</body>
</html>