<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<main>
        <div class="row">
       
                    <h1>Coba Sequelize</h1>
                    <ul>
                        <li><a href="/teacher">Teacher</a></li>
                        <li><a href="/subject">Subject</a></li>
                        <li><a href="/student">Student</a></li>
                    </ul>
                    <table style="width:100%">
                        <tr>
                            <th>ID</th>                            
                        	<th>Subject Name</th>
                        </tr>
                        <% allSubject.forEach((temps) => { %>
                        <tr>
                            <td><%= temps.id%></td>
                            <td><%= temps.subject_name%></td>
                        </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
            <div>
    </main>
</body>
</html>